/*-------------------NAVBAR----------------------*/
#nav-sticky{
    position: sticky;
    top: 0;
    z-index: 999;
}
#nav-body{
    margin-bottom: 15px;    
    background-color: rgb(46, 46, 46);
    overflow: auto;
}
#container-nav{
    overflow: auto;
}
#container-nav>ul>li{
    float: left; 
}
#container-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;     
    overflow: auto;
}
#container-nav li a{
    background-color: rgb(46, 46, 46);
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

#nav-body li a:hover{
    background-color: #111;
}
#container-nav{
    width: 65%;  
    margin: auto;  
}
.bar{
    display: none; 
}
#container-nav ul li.menu:hover .bar,.bar:hover{
    display: block;
    position: absolute;
    margin-top: 1px;
    z-index: 999;
}
/*----------------CONTAİNER-head------------------*/
#container-head{
    margin-bottom: 15px;
}
#container-body{
    cursor: pointer;
    width: 70%;
    margin: auto;
    background-color: white;
    overflow: auto;
}
#container-body img{ 
    width: 100%;
    height: 500px; 
}
#container-body .anayazi{
    box-sizing: border-box;
    padding: 60px;
    color: rgb(46, 46, 46);
    width: 70%;
    text-align: center;
    float: left;
    margin-top: 90px;
}
.altyazi{
    color: #61b2bd;
}
#container-body .anaresim{
    width: 30%;
    height: 500px;
    float: right;
    transition: opacity 0.2s ease-out;
}
#container-body h1{
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 60px;
    transition: transform 0.05s linear;
}
#container-body:hover .anaresim{
    opacity: 0.8;
}
#container-body:hover h1{
    transform: scale(1.03);
}





/*----------------CONTAİNER-MAİN------------------*/    

#container-main{
    width: 75%; 
    margin: auto; 
    margin-bottom: 10px;    
}

body{
    margin: 0px;
    background-color: #F0F3FF;
}
/*----------------------BLOG----------------------*/
#blog-post-container{
   background-color: white;
   margin: 10px;
   margin-right: 20px;
    width: 70%;   
    float: left;  
    border-radius: 10px;  
    
}
.blog-post{
   
    cursor: pointer;
    display: inline-block;
    width: 21%;
   background-color: transparent;
    margin-top: 20px;
    margin-left: 24px; 
    
    
}
.blog-post:first-child{
    margin-top: 11px;
}

.yazı{
    text-align: center;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 14px;
}
.blog-post img{
    max-height: 150px;
    width: 100%;
    display: block;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgb(192, 185, 185);
}
.blog-post:hover{
    transform: scale(1.02);
}

/*--------------------OTHER-----------------------*/
#other-posts{ 
    width: 25%;     
    float: left;   
    border-radius: 10px;    
    margin-top: 10px;  
   
}
.baslık{
    text-align: center; 
    border-radius: 5px; 
    margin-bottom: 10px;
}
.baslık a{
    padding-bottom: 10px;
    padding-top: 10px;   
    display: block;
    text-decoration: none;
    color: whitesmoke;
}
.baslıkyazı{
    margin: 6px;
}
#maviarka{
    background-color: #17A2B8;
    transition: background-color 75ms linear;
}
#maviarka:hover{
    background-color: #138496;
}
#sarıarka{
    background-color: #ffc107;
    transition: background-color 75ms linear;
}
#sarıarka:hover{
background-color: #E0A800;
}
#türler{
    border-radius: 5px;
    overflow: auto;
    background-color: white;
}
#türler h2{
    margin: 0;
}
#türüst{
    box-sizing: border-box;
    overflow: auto;
    
    text-align: center;
}
.icon51{
    font-size: 20px;
    margin: 16px;
    margin-bottom: 10px;
    color: rgb(65, 62, 62);
}
.türüstalt{
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f3ff;
}
#türüst h2{
    color: rgb(65, 62, 62);
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
}
#türalt span{
    margin-left: 5px;
}
#türalt li{   
    border-radius: 5px;
    float: left;
    width: 50%;
    transition: background-color 200ms ease-out;
    
}
#türalt ul{ 
    
    overflow: auto;
    margin: 0;
    list-style-type: none;
    padding: 10px 15px;
}
#türalt a{
    display: block;
    margin: 10px;
    text-decoration: none;
    color: gray;
    transition: color 200ms ease-out;
}
#türalt li:hover{
    background-color: #ffc107;
}
#türalt li:hover a{
    color: white;
}
/*-----------------Sosyal medya--------------------*/
#sosyalmedya{
    overflow: auto;
    margin-top: 20px;
    cursor: pointer;
}
.medyakutu{
    box-sizing: border-box;
    float: left;  
    background-color: #DCE0ED;
    display: inline;
    width: 50%;
    text-align: center;
    padding: 15px 20px;
    transition: background-color 0.1s ease-out;
}
.sosyal{
    overflow: auto;
    text-decoration: none;
    color: rgb(128, 128, 128);
    font-size: 15px;
    transition: color 0.1s ease-out;
}
.medyakutu:hover .sosyal{
    color: white;
}
.medyakutu:hover{
    background-color: #B9BED0;
}
/*---------------------REKLAM--------------------*/
#reklam{
    border-radius: 5px;
    background-image: url(img/unnamed.jpg);
    background-position: center;
    margin-top: 15px;
    text-align: center;
    height: 300px;
}

/*---------------------AUTHOR--------------------*/
#author-box{
    width: 100%;
    height: 200px;
    overflow: auto;     
    margin-top: 5px;
    /*background-color:  #312C4C;*/
    background-image: url(img/deneme.png);
    background-size: cover;
   
}
/*--------------------FOOTER------------------------*/
#footer-menu{
    background-image: url(img/footer-background.png);
    width: 100%;
    overflow: auto;
    background-size: cover;
}
.geneldiv{
    width: 1050px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}
div.geneldiv ul li{
    display: inline;
    padding-right: 10px;
    margin: 0;
    color: white;
}
div.geneldiv ul{
    font-family: 'DM Serif Display', serif;
    font-size: 14px;   
    padding: 0;
    margin: 0;
    float: left;
}
#copyright{ 
    padding: 0;
    margin: 0;
    float: right;
}
#copyright h6{
    font-family: 'DM Serif Display', serif;
    margin: 0;
    font-size: 14px; 
    font-weight: normal;
    color: white;
}
div.geneldiv ul li:hover{
    color: #ffc107;
    cursor: pointer;
}
